//output: index.html, pretty: true
doctype html
html(lang="de")
  head
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title Kolloquium Bachelorthesis
    link(href="//fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
    link(href="css/impress-demo.css", rel="stylesheet")
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="lib/highlight/styles/vs.css")
      
  body(class="impress-not-supported")
    div(class="fallback-message")
      p Dieser Browser wird nicht von <i>impress.js</i> unterstützt.
      
    #impress(data-transition-duration="1000")
    
      .step(id="title", class="slide", data-rel-x="0", data-rel-y="1000")
        include slides/01-title.html    
      
      // Einleitung
        
      .step(id="toc", class="slide", data-rel-x="0", data-rel-y="740")
        include slides/02-toc.html
            
      .step(id="intro", class="slide", data-rel-x="0", data-rel-y="740")
        include slides/03-intro.html
      
      .step(id="school", class="slide", data-rel-x="-600", data-rel-y="360", data-rel-z="900")
        include slides/04-vision.html
        
      .step(id="byod", class="slide", data-rel-x="1300", data-rel-y="0", data-rel-z="0")
        include slides/05-byod.html
        
      .step(id="target", class="slide", data-rel-x="-700", data-rel-y="1200", data-rel-z="-900")
        include slides/06-target.html
        
      .step(data-rel-x="700", data-rel-y="-780", data-rel-z="8000")

      // Technik-Teil
      
      .step(id="technik", class="slide", data-rel-x="2200", data-rel-y="-780", data-rel-z="-8000")
        include slides/07-technik.html
        
      .step(id="html", class="slide", data-rel-x="-600", data-rel-y="550", data-rel-z="1500")
        include slides/08-html.html
      
      .step(id="javascript", class="slide", data-rel-x="1300", data-rel-y="0", data-rel-z="0")
        include slides/09-javascript.html
        
      .step(id="javascript2", class="slide", data-rel-x="0", data-rel-y="550", data-rel-z="1500")
        include slides/10-javascript2.html
        
      .step(id="designpattern", class="slide", data-rel-x="1300", data-rel-y="-550", data-rel-z="-1500")
        include slides/11-designpattern.html
        
      .step(id="singleton", class="slide", data-rel-x="0", data-rel-y="550", data-rel-z="1500")
        include slides/12-singleton.html
        
      .step(id="decorator", class="slide", data-rel-x="1300", data-rel-y="0", data-rel-z="0")
        include slides/13-decorator.html
      
      // Implementierung  
      .step(id="implementation", class="slide", data-rel-x="2000", data-rel-y="-1800", data-rel-z="-3000")
        .row(class="border-bottom pb-3 mb-3")
          .col
            h2 3. Implementierungsdetails
        .substep
          .row(class="mt-4")
            .col Angular CLI
        .substep
          .row(class="mt-4")
            .col Angular Components
              ul
                li Virtuelle Tastatur
                li Virtuelles Notenblatt
      
      // Zusammenfassung
      .step(id="fazit", class="slide", data-rel-x="1200", data-rel-y="0", data-rel-z="0")
        .row(class="border-bottom pb-3 mb-3")
          .col
            h2 4. Fazit
        .substep
          .row(class="mt-5")
            .col Lernerfolge bei kleinen Schülergruppen
        .substep
          .row(class="mt-5")
            .col 
              p Konkurenzprodukte
              p Noteflight
              p Scorio
                  
      .step(id="Aublick", class="slide", data-rel-x="1200", data-rel-y="0", data-rel-z="0")
        .row(class="border-bottom pb-3 mb-3")
          .col
            h3 4.1 Ausblick
            p Noten abspielen und speichern
            p Navigation
            p Multimediaanwendung
                
      .step(id="overview", class="slide", data-rel-x="0", data-rel-y="370", data-rel-z="12000")
      
    #impress-toolbar
    #impress-help
    .impress-progressbar
      div
    .impress-progress
    script(type="text/javascript", src="lib/jquery.slim.min.js")
    script(type="text/javascript", src="lib/popper.min.js")
    script(type="text/javascript", src="lib/bootstrap.bundle.min.js")
    script(type="text/javascript", src="lib/highlight/highlight.pack.js")
    script(type="text/javascript" src="lib/impress.js")
    script.
      impress().init();
  
