//output: 01-title.html, pretty: true
.row(class="mt-4 mb-2")
  .col
    //-img(src="images/hs-merseburg.png", width="20%" alt="Logo der Hochschule Merseburg")
    img(src="holder.js/300x200", width="20%" alt="Logo der Hochschule Merseburg")
.row
  .col(style="font-size: 0.7em;") Hochschule Merseburg
.row(class="border-bottom pb-4")
  .col(style="font-size: 0.6em;") Studiengang Angewandte Informatik B.Sc.
.row(class="mt-2 mb-2")
  .col(class="font-weight-bold", style="font-size: 0.8em;") Kolloquium zur Bachelorthesis
.row(class="border-bottom pb-3 mb-3")
  .col
    h2 Prototypische Umsetzung einer webbasierten Musik&#8209;Notationssoftware mit dem Angular&#8209;Framework
.row
  .col
    table(class="table", style="font-size: 0.4em;")
      thead(class="thead-light")
        tr
          th Autor: 
          th Ralf Tippelt
      tbody
        tr
          td 1. Betreuer:
          td Prof. Dr. rer. pol. Uwe Schröter
        tr
          td 2. Betreuer:
          td Dipl.-Ing. Ulrich Borchert

.notes 
  dl
    dt Start
    dd
      ul
        li Prototypische Umsetzung einer webbasierten Musik&#8209;Notationssoftware mit dem Angular&#8209;Framework
