//output: 02-toc.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h2 Prototypische Umsetzung einer webbasierten Musik&#8209;Notationssoftware mit dem Angular&#8209;Framework
.row(class="mt-5")
  .col
    ol(type="1", style="margin-left: 9em;")
      li Einleitung
      li Grundlagen
      li Implementierung
      li Zusammenfassung
