//output: 02-toc.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h2 Prototypische Umsetzung einer webbasierten Musik&#8209;Notationssoftware mit dem Angular&#8209;Framework
.row(class="mt-5")
  .col
    ol(type="1", style="margin-left: 9em;")
      li Einleitung
      li Technischer Überblick
      li Implementierungsdetails
      li Fazit

.notes
  dl
    dt Einleitung
    dd
      ul
        li Motivation für das Thema
        li Idee zur webbasierten Software
    dt Technischer Überblick
    dd
      ul
        li welche Techniken kommen zum Einsatz
        li Probleme
        li warum Angular
    dt Implementierungsdetails
    dd
      ul
        li Umsetzung mit Angular
        li Audio im Browser
        li Visualisierung
    dt Fazit
    dd
      ul
        li erste Software-Komponenten
        li Einsatzmöglichkeiten
        li Ausblick auf Erweiterungen
