//output: 03-intro.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h1 1. Einleitung
.substep
  .row(class="mt-5")
    .col
      p Aktuelle Situation im Schulunterricht
  .row(class="mt-4 mb-2")
    .col
      figure(class="figure")
        img(src="images/e-tafel-im-klassenraum.jpg", width="30%")
        img(src="images/e-tafel-mit-bild.jpg", width="30%")
        figcaption(class="figure-caption") Fotos aus Klassenzimmer

.notes
  dl
    dt Erfahrungen mit Digitalisierung im Unterrichtsr채umen
    dt Aktuelle Situation
    dd
      ul
        li vereinzelt elektronische Tafeln in Klassenr채umen
        li Computerr채ume
        li einzelne Computerarbeitspl채tze im Klassenzimmer
