//output: 04-vision.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h3 Motivation
.row(class="mt-5")
  .col
    p Vision vom digitalen Klassenzimmer
.row(class="mt-5")
  .col
    figure(class="figure")
      img(src="images/vision-schul-it.png" class="img-fluid" width="40%")
      img(src="images/vision-pilotprojekt.png" class="img-fluid" width="53%")
      figcaption(class="figure-caption") Quelle: ct-dossier - Computer in der Schule
