//output: 05-byod.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h3 Motivation
.row(class="mt-5")
  .col
    p Maßnahmen
    p Bring Your Own Device
.row(class="mt-5")
  .col
    figure(class="figure")
      img(src="images/byod-arbeitsplatz.png" class="img-fluid" width="40%")
      img(src="images/byod-klasse.png" class="img-fluid" width="40%")
      figcaption(class="figure-caption") Quelle: ct-dossier - Computer in der Schule
