//output: 06-target.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h3 1.2 Zielsetzung
.row(class="mt-5")
  .col
    p Anforderungen an die Anwendung
    ul(style="margin-left: 8em;")
      li für Musikunterricht oder Instrumentalunterricht
      li plattformunabhängige Anwendung
      li webbasiert
      li Tonausgabe und Visualisierung
