//output: 06-technik.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h2 2. Technischer Überblick
.row(class="mt-5")
  .col
    p Eingesetzte Techniken
    ul
      li HTML(5)
      li JavaScript
      li WebAudio API
