//output: 07-technik.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h2 2. Technischer Überblick
.row(class="mt-5")
  .col
    p Eingesetzte Techniken
    ul(style="margin-left: 10em;")
      li HTML(5)
      li JavaScript
        .substep (Angular)
      li Design Pattern

.notes
  p bei click -> Angular
