//output: 08-html.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h3 2.1 HTML(5)
.row(class="mt-5")
  .col
    dl(class="row")
      dt(class="col-3") Basiselemente
      dd(class="col-9")
        p Formularelemente wie Buttons, Eingabefelder und Auswahlboxen
      dt(class="col-3") Visualisierung
      dd(class="col-9")
        p Vektorgrafiken im <i>svg</i>-Tag definieren
        p im <i>canvas</i>-Tag einen Graph zeichnen
      dt(class="col-3") Audioausgabe
      dd(class="col-9")
        p Audiodateien im <i>audio</i>-Tag
