//output: 09-javascript.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h3 2.2 JavaScript
.row(class="mt-5")
  .col
    figure(class="figure")
      img(src="images/javascript.png" class="img-fluid" width="100%")
      figcaption(class="figure-caption") Quelle: Angular Grundlagen 2017, Gegor Woiwode u.a.
