//output: 13-decorator.html, pretty: true
.row(class="border-bottom pb-3 mb-3")
  .col
    h4 2.3.2 Decorator
.row(class="mt-2")
  .col
    figure(class="figure")
      img(src="images/decorator.png" class="img-fluid" width="100%")
      figcaption(class="figure-caption") Quelle: Entwurfsmuster 2015 - Matthias Geirhos
